:root {
  color-scheme: light;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  min-width: 320px;
  min-height: 100vh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  
  
  background-color: #ebe8e1;
  background-image: radial-gradient(#bf891d 1px, transparent 1px);
  background-size: 24px 24px;
  background-position: center;
  color: #1b1b24;
  
  
  --text-muted: rgba(27, 27, 36, 0.6);
  --divider-color: rgba(27, 27, 36, 0.1);
}

body::-webkit-scrollbar {
  display: none; 
}

body.dark-theme {
  background-color: #121214;
  background-image: radial-gradient(#3f3f46 1px, transparent 1px);
  background-size: 24px 24px;
  background-position: center;
  color: #e4e4e7;

  --text-muted: rgba(228, 228, 231, 0.6);
  --divider-color: rgba(228, 228, 231, 0.2);
}
